# Enable Bazel modules by default. Projects using Sandboxed API may still use
# a regular WORKSPACE ("Hybrid Mode").
common --enable_bzlmod

# Build in C++17 mode without a custom CROSSTOOL
build --cxxopt=-std=c++17 --host_cxxopt=-std=c++17
