[submodule "oss-internship-2020/sapi_lodepng/lodepng"]
	path = oss-internship-2020/lodepng/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "oss-internship-2020/openjpeg/openjpeg"]
	path = oss-internship-2020/openjpeg/openjpeg
	url = https://github.com/uclouvain/openjpeg.git
[submodule "oss-internship-2020/pffft/master"]
	path = oss-internship-2020/pffft/master
	url = https://bitbucket.org/jpommier/pffft/src/master/
[submodule "oss-internship-2020/gdal/gdal"]
	path = oss-internship-2020/gdal/gdal
	url = https://github.com/OSGeo/gdal/
[submodule "oss-internship-2020/curl/curl_wrapper/curl"]
	path = oss-internship-2020/curl/curl_wrapper/curl
	url = https://github.com/curl/curl
[submodule "oss-internship-2020/libuv/libuv"]
	path = oss-internship-2020/libuv/libuv
	url = https://github.com/libuv/libuv.git
[submodule "oss-internship-2020/libtiff/wrapper/libtiff"]
	path = oss-internship-2020/libtiff/wrapper/libtiff
	url = https://gitlab.com/libtiff/libtiff
