[submodule "oss-internship-2020/openjpeg/openjpeg"]
	path = oss-internship-2020/openjpeg/openjpeg
	url = https://github.com/uclouvain/openjpeg.git
[submodule "oss-internship-2020/pffft/master"]
	path = oss-internship-2020/pffft/master
	url = https://bitbucket.org/jpommier/pffft/src/master/