# macOS Finder metadata
.DS_Store
# Build files
bazel-*
# Local CMake build dir
build/
# Editor backup files
*.swp
*~
# Compiled Python files and cache
*.py[co]
__py_cache__/
# IDE files
.cache/
.clangd/
.idea/
.vscode/
compile_commands.json
